@import (reference) '../../styles/index.less';

.room {
  padding: @size-3;
  grid-column-gap: @size-2--5;
  background-color: rgba(200, 230, 255, 0.068);
  border-bottom: solid 1px rgba(238, 238, 238, 50%);
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-template-areas:
    'title    title   title arrow'
    'unlocked creator code  arrow';

  &__title {
    .milli;
    grid-area: title;
    color: @primary-color;
    font-family: 'roboto-medium';
  }

  &__unlocked {
    grid-area: unlocked;

    &:before {
      .micro;
      content: '\e5ca';
      font-family: 'Material Icons';
      color: @green-color;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: @green-color;
    }
  }

  &__creator {
    grid-area: creator;
    color: @black-text-color;
    font-family: 'roboto-medium';
  }

  &__code {
    color: #6889b9;
  }

  &__arrow {
    grid-area: arrow;
    align-self: center;

    &:before {
      content: '\e315';
      font-family: 'Material Icons';
      color: rgba(104, 136, 185, 0.624);
    }
  }
}
