@import (reference) '../../styles/index.less';

.room-item {
  padding: @size-3;
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: rgba(200, 230, 255, 0.068);
  border-bottom: solid 1px rgba(238, 238, 238, 50%);

  &__arrow {
    align-self: center;

    &:before {
      content: '\e315';
      font-family: 'Material Icons';
      color: rgba(104, 136, 185, 0.624);
    }
  }
}
