@import (reference) '../../styles/index.less';

.form {
  padding: @size-4;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, max-content) 1fr;
}

.company {
  color: @primary-color;
  font-family: 'roboto-medium';
  text-transform: uppercase;
  margin-bottom: @size-4;
}

.title {
  color: @light-black-text-color;
  margin-bottom: @size-4;
}

.submit {
  justify-self: center;
  align-self: end;
  .btn__default;
  .pad-tb-2--5;
  .pad-lr-10;
  .kilo;
  margin-bottom: @size-10;
}
