@import (reference) '../../styles/index.less';

.room {
  display: grid;
  padding: @size-4;
  grid-column-gap: @size-4;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas:
    'back  roomInfo  leave'
    'back  roomInfo  settings';

  &__back {
    grid-area: back;

    &:before {
      .back-icon-before;
    }
  }

  &__room-info {
    grid-area: roomInfo;
  }

  &__leave {
    .giga;
    grid-area: leave;
    color: @danger-color;

    &:before {
      content: '\e879';
      font-family: 'Material Icons';
    }
  }

  &__settings {
    .giga;
    grid-area: settings;
    margin-top: 5px;

    &:before {
      .settings-icon-before;
    }
  }
}

.actions {
  .bottom-box-shadow-with-border;
  display: grid;
  padding: 0 @size-3 @size-4 @size-3;
  grid-template-columns: 1fr repeat(3, max-content);

  &__submit {
    .btn__default;
    width: max-content;
  }

  &__item {
    color: @black-text-color;
    font-family: 'roboto-medium';
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    &--search:after {
      .faded-icons;
      content: '\e8b6';
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: @faded-icon-color;
    }
    &--view:after {
      .faded-icons;
      content: '\e417';
    }

    &--sort:after {
      .faded-icons;
      content: '\e164';
    }
  }
}
