@import (reference) './index.less';

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/ROBOTO-REGULAR.TTF') format('truetype');
}

@font-face {
  font-family: 'roboto-medium';
  src: url('../fonts/ROBOTO-MEDIUM.TTF') format('truetype');
}

* {
  .kilo;
  font-family: 'roboto-regular';
  letter-spacing: 0.3px;
}
