@import (reference) './index.less';

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/ROBOTO-REGULAR.TTF') format('truetype');
}

@font-face {
  font-family: 'roboto-medium';
  src: url('../fonts/ROBOTO-MEDIUM.TTF') format('truetype');
}

#root {
  height: 100%;
  background-color: orange;
}

body {
  .milli;
  font-family: 'roboto-regular';
  touch-action: manipulation;
}

html{
  touch-action: manipulation;
}
button {
  background: none;
  border: 0;
  outline: 0;
}

input:disabled {
  background: #f2f7fa;
}

a:visited,
a:hover,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: @primary-color;
}

::-webkit-input-placeholder {
  color: @gray-text-color;
}
::-moz-placeholder {
  color: @gray-text-color;
}
:-ms-input-placeholder {
  color: @gray-text-color;
}
:-moz-placeholder {
  color: @gray-text-color;
}
