.bottom-box-shadow-with-border {
  border-bottom: solid 1px rgba(238, 238, 238, 50%);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.faded-icons {
  font-family: 'Material Icons';
  color: @faded-icon-color;
  margin-left: 5px;
}

.settings-icon-before {
  content: '\e8b8';
  font-family: 'Material Icons';
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: @primary-color;
}

.back-icon-before {
  .zetta;
  content: '\e314';
  font-family: 'Material Icons';
  color: @black-text-color;
}

.thumb-icon-before {
  .tera;
  content: '\e8dc';
  font-family: 'Material Icons';
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: @primary-color;
}
